@charset "utf-8";
@font-face {
    font-family: font1;
    src: url(font/Muloka\ Kerash.otf);
}
body{
    margin: 0;
    padding: 0;
    background-color: #EAFF16;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(242,683,320)'%3E%3Cstop offset='0' stop-color='%23EAFF16'/%3E%3Cstop offset='1' stop-color='%23FF7B16'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='770' height='641.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

   
}

form{
    background-color: rgb(232, 169, 67);
    max-width: 550px;
    margin-left: 30%;
    border: rgb(255, 255, 255) solid;
    border-radius: 10px;
    text-align: center;
    top: 600px;
    color: aliceblue;
    text-shadow: black 5px 8px 10px;
    position: relative;
}
/* .formulario{
   border: #ffffff solid; 
} */


h1{
    position:fixed;
    margin-left: 600px;
   margin-top: 614px;
   font-size: 20px;
   color: rgb(255, 255, 255);
   text-shadow: black 5px 8px 10px;
   font-family: font1;

}
.p1{
    position: absolute;
    bottom: -20%;
    margin-top: 50px;
    left: 48%;
    color: cornsilk;
    text-shadow: black 5px 10px 10px;
    font-family: font1;
}

.imgheader{
    text-align: center;
   margin-left: 350px;
   
}


.container{

    height: 460px;
    width: 800px;
    overflow: hidden;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);



}

.imagem img{
    height: 100%;
    width: 100%;
}

.navegacao{
    position: absolute;  
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

.bar{
   background-color: rgb(255, 255, 255);
   width: 30px;
   height: 5px;
   margin: 6px;
   transition: .3s;
   cursor:pointer ;

 }

 .bar:hover{
    background: rgb(5, 5, 5);
 }

 .container input{
    display: none;
 } 

 .imagens{
    display: flex;
    width: 600%;
    height: 100%;
}

 .imagem{
    width: 16.6666666667%;
    transition: .8s;
 }
 
 .imagem img{
    height: 100%;
    width: 100%;
}

 #imagem1:checked ~ .img1 {
    margin-left: 0;
 }

 #imagem2:checked ~ .img1 {
    margin-left: -16.6666666667%;
 }
 #imagem3:checked ~ .img1 {
    margin-left: -33.3333333333%;
 }
#imagem4:checked ~ .img1 {
    margin-left: -50%;
}

#imagem5:checked ~ .img1{
    margin-left: -8.6666666667%;
}

#imagem6:checked ~ .img1 {
    margin-left: -83.3333333333%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-shadow: 2px 10px 5px #ca1414;
    font-family: font1;
 
    
}

@media (max-width: 760px){
    form{
        margin-top: -1200px;
        margin-right: 175px;
        margin-left: 550px;
        margin: 100px;
        /* padding-bottom: 500%; */
        border-radius: 20px;  
    }

    .container{
      font-size: 50px;
      right: 500px;
      width: 400px;
      height: 300px;
      padding-bottom: 60%;
    }

    .imgheader{
     position: relative;
     right: 350px;
     width: 400px;
     
    }

    .navegacao{
     padding-bottom: 50%;

    }

    footer{
        margin-top: 240%;
        color: #000;
        font-size: 15px;
    }

    

}

h2{
    top: 1000%;

}

footer{
    font-size: 15px;
    top: 30px;
    font-family: font1;
    color: #000;
}


.script{
    position: absolute;
    top: 690px;
    left: 28%;
    font-family: font1;
    margin-left: 200px;
    
    }

